.13_1241 { 
	overflow:hidden;
}._______13_1241 { 
	width:375px;
	height:630px;
	position:absolute;
}.______13_1242 { 
	width:375px;
	height:630px;
	position:absolute;
	left:0px;
	top:0px;
}.rectangle_9_13_1245 { 
	box-shadow:-6px -6px 30px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:630px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.__________13_2331 { 
	background-color:rgba(200.00000327825546, 22.000000588595867, 29.000000171363354, 1);
	width:340px;
	height:40px;
	position:absolute;
	left:15px;
	top:572px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}._________13_2332 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:23px;
	position:absolute;
	left:134px;
	top:8.5px;
	font-family:Poppins;
	text-align:center;
	font-size:11px;
	letter-spacing:-0.30000001192092896;
	line-height:px;
}._____13_2334 { 
	width:340px;
	height:157px;
	position:absolute;
	left:13px;
	top:315px;
}._____________13_2324 { 
	opacity:0.6399999856948853;
	width:340px;
	height:127px;
	position:absolute;
	left:0px;
	top:30px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.13_2324 { 
	border:1px solid rgba(0, 0, 0, 1);
}.english_i13_2324_2_1918 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:22px;
	position:absolute;
	left:20px;
	top:24px;
	font-family:Hind;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}._____13_2323 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:20px;
	position:absolute;
	left:8px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}._____13_2333 { 
	width:340px;
	height:70px;
	position:absolute;
	left:13px;
	top:485px;
}.________13_2327 { 
	opacity:0.6399999856948853;
	width:340px;
	height:40px;
	position:absolute;
	left:0px;
	top:30px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.13_2327 { 
	border:1px solid rgba(0, 0, 0, 1);
}.english_i13_2327_2_1918 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:22px;
	position:absolute;
	left:20px;
	top:9px;
	font-family:Hind;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}._________13_2328 { 
	color:rgba(0, 0, 0, 1);
	width:100px;
	height:20px;
	position:absolute;
	left:8px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}._____13_2316 { 
	width:340px;
	height:64px;
	position:absolute;
	left:13px;
	top:232px;
}.list_item_select_13_2294 { 
	opacity:0.6399999856948853;
	width:140px;
	height:30px;
	position:absolute;
	left:0px;
	top:33px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.13_2294 { 
	border:1px solid rgba(0, 0, 0, 1);
}.english_i13_2294_2_1918 { 
	color:rgba(0, 0, 0, 1);
	width:100px;
	height:22px;
	position:absolute;
	left:20px;
	top:4px;
	font-family:Hind;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.calendar_13_2289 { 
	width:15px;
	height:15px;
	position:absolute;
	left:112px;
	top:40px;
}.i13_2289_251_8784 { 
	border:0.5px solid rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
}.icon_i13_2289_251_8784 { 
	width:11.25px;
	height:12.5px;
	position:absolute;
	left:1.875px;
	top:1.25px;
}.list_item_select_13_2310 { 
	opacity:0.6399999856948853;
	width:140px;
	height:30px;
	position:absolute;
	left:200px;
	top:34px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.13_2310 { 
	border:1px solid rgba(0, 0, 0, 1);
}.english_i13_2310_2_1918 { 
	color:rgba(0, 0, 0, 1);
	width:100px;
	height:22px;
	position:absolute;
	left:20px;
	top:4px;
	font-family:Hind;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.calendar_13_2311 { 
	width:15px;
	height:15px;
	position:absolute;
	left:312px;
	top:40px;
}.i13_2311_251_8784 { 
	border:0.5px solid rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
}.icon_i13_2311_251_8784 { 
	width:11.25px;
	height:12.5px;
	position:absolute;
	left:1.875px;
	top:1.25px;
}._____13_1247 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:20px;
	position:absolute;
	left:8px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.__13_2315 { 
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:19px;
	position:absolute;
	left:166px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.___13_1606 { 
	width:340px;
	height:177px;
	position:absolute;
	left:13px;
	top:33px;
}.____2_13_1586 { 
	opacity:0.6399999856948853;
	width:340px;
	height:40px;
	position:absolute;
	left:0px;
	top:137px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.13_1586 { 
	border:1px solid rgba(0, 0, 0, 1);
}.english_i13_1586_2_1918 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:22px;
	position:absolute;
	left:20px;
	top:9px;
	font-family:Hind;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.______13_1585 { 
	background-color:rgba(245.86252391338348, 255, 247.32451826334, 1);
	width:340px;
	height:40px;
	position:absolute;
	left:0px;
	top:92px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.13_1585 { 
	border:1px solid rgba(0, 0, 0, 1)1px solid rgba(26.647529304027557, 210.37499696016312, 111.16216868162155, 1);
}.english_i13_1585_2_1927 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:18px;
	position:absolute;
	left:20px;
	top:11px;
	font-family:DM Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.frame_24_i13_1585_2_1928 { 
	width:70px;
	height:16px;
	position:absolute;
	left:250px;
	top:12px;
}.selected_i13_1585_2_1929 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:49px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:DM Sans;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}.group_15144_i13_1585_2_1930 { 
	width:12px;
	height:12px;
	position:absolute;
	left:58px;
	top:2px;
}.ellipse_5_i13_1585_2_1931 { 
	border-radius:500px;
	background-color:rgba(34.006229639053345, 211.43749594688416, 104.97875288128853, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}.i13_1585_2_1932 { 
	border:1px solid rgba(255, 255, 255, 1);
}.vector_i13_1585_2_1932 { 
	width:6px;
	height:4px;
	position:absolute;
	left:3px;
	top:4px;
}.rectangle_9_13_1607 { 
	box-shadow:-6px -6px 30px rgba(0, 0, 0, 0.15000000596046448);
	background-color:rgba(255, 255, 255, 1);
	width:340px;
	height:40px;
	position:absolute;
	left:0px;
	top:45px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.search_13_1608 { 
	background-color:rgba(0, 0, 0, 1);
	width:16.50531768798828px;
	height:16.50531768798828px;
	position:absolute;
	left:15px;
	top:57px;
}.________________13_1609 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:40px;
	height:12px;
	position:absolute;
	left:44px;
	top:60px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.______13_2321 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:20px;
	position:absolute;
	left:8px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}