<div class="about-gnb-wrapper">
			<div class="gnb-wrapper">
				<div class="gnb-icon-wrapper">
					<a href="/" class="link-block-5 w-inline-block w--current">
						<div class="gnb-icon">
							<div class="image-wrapper-1-1 gnb">
								<img src="{{url_for('static',filename='/nav/home.svg')}}"  class="wrapper-iner-image-2">
							</div>
							<div class="body-14px text-color-gray70">홈</div>
						</div>
					</a>
					<a href="/SearchPage" class="link-block-5 w-inline-block w--current">
						<div class="gnb-icon"><div class="image-wrapper-1-1 gnb">
							<img src="{{url_for('static',filename='/nav/study.svg')}}"class="wrapper-iner-image-2">
						</div>
						<div class="body-14px text-color-gray70">검색</div>
						</div>
					</a>
					<a href="/" class="link-block-5 w-inline-block w--current">
						<div class="gnb-icon"><div class="image-wrapper-1-1 gnb">
							<img src="{{url_for('static',filename='/nav/detail.svg')}}" class="wrapper-iner-image-2">
						</div>
						<div class="body-14px text-color-gray70">!</div>
						</div>
					</a>
				</div>
			</div>
		</div>